
.font {
  font-family:Arial;
}

.bkclr {
  background-color:#fcfdff;
}

.codefont {
  font-family:Monospace;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    height: 50px;
    vertical-align: bottom;
}

h1,h3 {
  border-color:black;
  color:white;
  background-color:black;
  padding:4px;
}

h4 {
  font-weight:bold;
  text-decoration:underline
}
