/*background and font of whole site*/
.clrfont {
  font-family:Helvetica;
  background-color:#998661;
}

/*background for sections of text*/
.pback {
  background-color:#dbd7a6;
  border-color:#dbd7a6;
  padding:20px;
}

/*heading*/
.head {
  background-color:#dbd7a6;
  padding:10px;
}

/*text-align left class*/
.tal {
  text-align:left;
}
