
#id1 {
  color:white;
  background-color:black;
  font-size:12px;
}
#id2 {
  color:blue;
  background-color:orange
}
.bluex {
  color:blue;
  font-family:verdana;
}
.centre {
  text-align: center;
  color:red;
}
.bluev p {
  color:blue;
  font-family:verdana;
}
